body {
    margin: 0;
    padding: 0;
    background-color: rgb(13, 10, 51);
    background-size: cover; /* Prevent zooming */
    background-position: center center;
}

@font-face {
    font-family: "InTheDarkness";
    src: url("assets/fonts/inthedarkness.ttf");
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

